#Ignore everything except the .gitignore file
*
!.gitignore

#specifically ignore test plugin
zenTestPlugin/

#specifically allow the following, using the ! prefix:
!DisplayLogs/
!PayPalRestful/
!POSM/
!SystemInspection/
!ScanAdditionalImages/
!ResponsiveClassicPlugin/
!ResponsiveClassicPlugin/**
