body {background-color:#ffffff; color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif; text-align:center; width:552px;/*logo width+border*/}
a:link {color:#0066cc;}
a:hover {background-color:#eeeecc; color:#0066cc;}
a:visited {color:#0066cc;}
.holder {background-color:#f9f9f9; border:1px solid #9a9a9a; font-size:9px; text-align:left;}
.header {font-size:10px; padding:0;}
.content {font-size:10px; padding:5px;}
.content-line {padding:5px;}
#checkout .content-line { font-size: 10px; }
.footer {border-top:1px solid #9a9a9a; font-size:9px; margin-top:10px; text-align:center;}
.disclaimer {background-color:#f9f9f9; border:1px solid #cccccc; font-size:10px; margin-top:10px;}
.disclaimer1 {color:#666666; padding:5px;}
.disclaimer1 a:link {color:#666666;}
.disclaimer1 a:visited {color:#666666;}
.disclaimer2 {color:#666666; padding:5px;}
.copyright {border-bottom:0 solid #9a9a9a; padding:5px;}
.extra-info {background-color:#cccc99; border:1px solid #9a9a9a; font-size:10px; margin-top:10px; padding:5px;}
.extra-info-bold {font-weight:bold;}

.unsubscribe {border-bottom:1px solid #9a9a9a; padding:5px;}
.gv {background-color:#66FF99; border:1px #9a9a9a; padding:2px; font-size:10px; }
.gv-amount {font-weight:bold; color:#669966;}
.gv-code {font-weight:bold; color:#66CC66;}
.store-name {font-size:13px; padding:5px;}
.coupon-block { padding: 5px; border: 1px #cccccc solid; background-color: #FFFF99; }
.coupon-code {font-weight:bold;}
.gv-block { padding: 5px; border: 1px #cccccc solid; background-color: #99FF99; }
.content-line-title {font-weight:bold; font-size:11px; padding-top:3px;}
.order-detail-area {background-color:#CCCC99; border:1px #9a9a9a; width:542px; padding:2px; font-size:10px; }
.product-details {font-size:10px;}
.product-details-num {font-size:10px; font-weight:bold;}
.order-totals-text {font-size:10px; font-weight:bold;}
.order-totals-num {font-size:10px; }
.comments {background-color:#FF6699; border:1px #9a9a9a; width:542px; padding:2px; font-size:10px; }
.address-block {background-color:#E4E8F3; border:1px solid #9a9a9a; margin-top:3px;}
.address {font-size:10px;}
.payment-detail, .payment-footer {font-size:10px;}
.delivery-block, .billing_block { width: 50%; vertical-align: top; }

@media only screen and (max-width:640px){
  .extra-info, .delivery-block, .billing-block {width:100%; margin:0; }
  .holder, .header, .content, .footer, .disclaimer, .gv { width: 100%; }
  .comments, .order-detail-area { width: 95%; }
  .billing-block, .delivery-block { float:left; }
  .billing-block { border-top:1px solid #9a9a9a; margin-top:5px; }
}