myDEBUG-*.log
cache/*.sql
cache/sess_*
logs/*.log
*.php1
*.bak
*.old
Thumbs.db
admin/includes/configure.php
includes/configure.php
local/configure.php
includes/local/configure.php
admin/includes/local/configure.php
dbencdata*.ini
testFramework/webtests/config/*
!testFramework/webtests/config/localconfig_EXAMPLE.php
devtools.php
dev-*.*
