[submodule "includes/library/aura/web"]
	path = includes/library/aura/web
	url = https://github.com/auraphp/Aura.Web
[submodule "includes/library/valitron"]
	path = includes/library/valitron
	url = https://github.com/vlucas/valitron
[submodule "includes/library/container-interop"]
	path = includes/library/container-interop
	url = https://github.com/container-interop/container-interop
[submodule "includes/library/aura/AuraDi"]
	path = includes/library/aura/AuraDi
	url = https://github.com/auraphp/Aura.Di
