[submodule "includes/library/aura/web"]
	path = includes/library/aura/web
	url = https://github.com/auraphp/Aura.Web
[submodule "includes/library/aura/di"]
	path = includes/library/aura/di
	url = https://github.com/auraphp/Aura.Di
