/.github          export-ignore
/.gitattributes   export-ignore
/testFramework    export-ignore
*not_for_release* export-ignore
/phpunit.xml      export-ignore
/phpunit.xml.dist export-ignore
/crowdin.yml      export-ignore

# Auto detect text files and perform LF normalization
* text=auto

# Configure diff output for .php files
*.php diff=php
