myDEBUG-*.log
cache/*.sql
cache/sess_*
cache/*.log
pub/.*
logs/*.txt
logs/*.log
includes/modules/payment/paypal/logs/*.log
local/configure.php
*.php1
*.bak
*.old
devtools.php
Thumbs.db
/vendor
clover.xml
configure.php

