parameters:
    # Level 9 is the highest level
    level: 0

    excludePaths:
        analyse:
            - includes/configure.php
            - includes/dist-configure.php
            - includes/classes/vendors/*

    scanDirectories:
        - includes/classes/vendors

    ignoreErrors:
        -
            identifier: include.fileNotFound
            message: '#Path in include\(\) "(\.\./)?includes/local/configure\.php" is not a file or it does not exist\.#'


