<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" verbose="true">
  <testsuites>
    <testsuite name="Password Hash Functions">
      <file>testFramework/unittests/testTestCase.php</file>
      <file>testFramework/unittests/testPasswordHashCase.php</file>
      <file>testFramework/unittests/testRequestCase.php</file>
    </testsuite>
  </testsuites>
</phpunit>
