/*
*  Bazillyo's Spiffy Popup Calendar Styles v2.1 Copyright S. Ousta
*/
#spiffycalendar {
    width: 250px;
 /*   height:130px;*/
    left: 0px;
    top: 0px;
/*    background-color: black;*/
    position: absolute;
    visibility: hidden;
}

.cal-SymbolBtn {
    font-family: Webdings;
    font-size: 8pt;
    outline-style : none;
    outline-width: 0px;
}

.cal-BtnLink {
    outline-style : none;
    outline-width: 0px;
}

a.cal-DayLink {
    font-family: Verdana,  Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    text-decoration: none;
    color: #000;
    background-color: transparent;

}
a.cal-DayLink:hover {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    color: Blue;
}
a.cal-DayLink:active {
    font-family: Verdana,  Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    text-decoration: none;
    background-color: transparent;
    color: #06F;
}
.cal-TextBox{
    color: #000;
    font-family: Verdana,  Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    background-color: #FFC;
}

.cal-TextBoxInvalid{
    color: #600;
    font-family: Verdana,  Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    border-color: #f00;
    border-style:solid;
}

.cal-TextBoxDisabled{
    color: #808080;
    font-family: Verdana,  Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    border-color: #C0C0C0;
    border-style:solid;
}


.cal-ComboBox{
    color: Navy;
    font-family: Verdana,  Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    background-color: #EAFFFF;
}

.cal-Today {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
    color: #f00;
    background-color: transparent;
}

.cal-Day {
    font-family: Verdana,  Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    text-decoration: none;
    color: #000;
    background-color: transparent;
}


a.cal-TodayLink {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
    color: #f00;
    background-color: transparent;
}
a.cal-TodayLink:hover {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    color: Blue;
}
a.cal-TodayLink:active {
    font-family: Verdana,  Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    color: #06F;
}

.cal-GreyDate {
    font-family: Verdana,  Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    text-decoration: none;
    background-color: #FFC;
    color: #999;
}

.cal-GreyInvalidDate {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    text-decoration: line-through;
    background-color: #FFC;
    color: #999;
}

.cal-DayCell {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    background-color:White;
}

.cal-WeekendCell {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    background-color: #B0C4DE;
}

.cal-HolidayCell {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    background-color: #9F9;
}
.cal-HeadCell {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: #000;
    background-color: #ccc;
}

.cal-Table{
    background-color: #ddd;
    border-width:1px;
    border-style: solid;
    position: relative;
    z-index: 1000;
    box-shadow: 2px 2px 2px 2px;
}
