.infoBoxContent input {
    margin: 1px 2px;
}

.infoBoxContent {
    background-color: #e7e6e0;
    color: #333;
    padding: 5px;
    word-break: break-word;
}

.infoBoxContent a img, .infoBoxContent input[type="image"] {
    margin: 4px;
}

.infoBoxContent fieldset legend {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 0;
}

.infoBoxHeading {
    background-color: #333;
    color: #fff;
    padding: 5px;
}

.infoBoxHeading h4 {
    color: #fff;
}
.txt-status-off{
    color: #d9534f;
}
.txt-status-on{
    color: #398439;
}
.txt-linked{
    color: #f0ad4e;
}
.txt-light {
    opacity: 0.3;
}
.txt-black {
    color:#000;
}
.txt-yellow {
    color: #ff0;
}
.txt-orange {
    color: #ffa500
}
.txt-lime {
    color:#5ce400
}
.txt-red {
    color:#f00;
}
.txt-navy {
    color: #000080;
}
.txt-blue {
    color: #00f;
}
.txt-white {
    color:#fff;
}
.txt-pink {
    color: #ffbaba;
}
.txt-gold {
    color: gold;
}
form
{
    display: inline;
}
.folder, .folder:hover
{
    text-decoration: none;
    color: #000;
}
.fa-folder, .fa-folder-open
{
    color: #deb887;
}
.form-label {
    font-weight: 700;
    text-align: right;
}
.floatButton
{
    position: fixed;
    bottom: 100px;
    right: 10px;
    z-index: 100;
}
.formAreaTitle
{
    font-weight: bold;
}
.formArea
{
    background-color: #f4f4f4;
    border-color: #666;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
}
.btn {
    margin: 10px 20px;
}
.input-group .btn {
    margin: 0;
}
a.btn-edit {
    background-color: #008000;
    color: #eee;
}

a.btn-delete {
    background-color: #f00;
    color: #eee;
}

a.btn-move {
    background-color: #800080;
    color: #eee;
}

a.btn-copy {
    background-color: #00f;
    color: #eee;
}

a.btn-imagehandler {
    background-color: #fa8072;
    color: #000;
}

.btn-attributes-on {
    background-color: #87cefa;
    color: #000;
}

.btn-attributes-off, a.btn-metatags-off {
    background-color: #000;
    color: #eee;
}

a.btn-pricemanager-on {
    background-color: #32cd32;
    color: #eee;
}

a.btn-pricemanager-on-enabled {
    background-color: #006400;
    color: #eee;
}

a.btn-pricemanager-off {
    background-color: #d3d3d3;
    color: #eee;
}

.btn-metatags-on {
    color: #ffa500;
}

.btn-status {
    background: transparent;
    padding: 0;
    border: none;
}
.btn-status:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-status:focus, .btn-status:active:focus {
    outline: none;
    outline-offset: 0;
}
.text-right {
    text-align: right;
}

