/*
use xb settings to make ul/li appear the
same in mozilla, ie and opera
*/
/* needed to keep IE from bubbling events
from items that are not contained but only
covered. */
ul.nde-menu-system{
background-color:#599659;
display:block;
margin:0;
padding:4px 10px;
}
ul.nde-menu-system *{
font-size:10px;
}
ul.nde-menu-system li{
border-right:1px solid #003D00;
color:#ffffff;
display:inline;
font-weight:bold;
margin:0;
padding:0 10px;
position:relative;
cursor:pointer;
cursor:hand;
}
ul.nde-menu-system li a{
color:#ffffff;
font-weight:bold;
cursor:pointer;
cursor:hand;
}
ul.nde-menu-system li a:hover{
background-color:transparent;
color:#ffffff;
text-decoration:underline;
}
ul.nde-menu-system li ul{
display:block;
left:0;
position:absolute;
top:1em;/* required for NS 7.x/Gecko 1.0.x but not Gecko 1.3 */
visibility:hidden;
z-index:1000;
}
ul.nde-menu-system li ul li{
background-color:#f7f7f7;
border:#a8a8a8 1px solid;
border-width:0 1px 1px;
display:block;
list-style:none;
margin:0;
padding:0;
width:150px;
}
ul.nde-menu-system li ul li a{
background-color:#EFF4EA;
color:#333333;
display:block;
font-weight:normal;
margin:0;
padding:3px 5px;
}
* html ul.nde-menu-system li ul li a{
width:100%;
}
ul.nde-menu-system li ul li a:hover{
background-color:#85C285;
color:#333333;
text-decoration:none;
}
ul.nde-menu-system ul{
background-color:#599659;
display:block;
margin:0;
padding:4px 0 0;
}
