.stock-wrapper { }
#accountHistInfo .stock-wrapper { margin-top: 5px; }
.stock-msg { border: 1px solid #505050; background-color: #bcbcbc; border-radius: 6px; padding: 3px; display: inline-block; margin: 3px; }
#productAttributes .in-stock, .stock-msg.in-stock { color: green; }
#productAttributes .no-stock, .stock-msg.no-stock { color: red; }
.in-stock.stock-mixed { }
.no-stock.stock-mixed { }
.posm-prev-choices { font-weight: normal; }
.posm-error { font-weight: bold; color: red; }