// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '~simple-line-icons/css/simple-line-icons.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Coreui
@import '~@coreui/coreui/dist/css/coreui.min.css';

// styles
//@import 'styles.scss'