/*! Twitter Bootstrap */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

/*! Zen Cart Overrides */
body {
  background: #fff;
  color: #777;
  font: 16px/1 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 200;
  margin: 10px auto;
  padding: 0 2rem;
}

h1 {
  font-size: 2.25rem;
  font-weight: 100;
  color: #000;
  letter-spacing: 1px;
  margin: 3rem 0 1.5rem;
}

h2 {
  font-size: 2rem;
  border-bottom: 1px solid #e3e3e3;
  font-weight: 300;
  margin: 2.25rem 0 1rem;
  padding: 0.5rem 0 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #606060;
  margin: 1.75rem 0 0.25rem 0;
}

h4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 1.25rem 0 0.25rem 0;
  color: maroon;
  font-variant: small-caps;
}

h5, h6 {
  font-weight: 700;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

h5, h6, ol, p, ul {
  margin: 0 0 1rem 0;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: upper-roman;
}

ol, p, ul {
  line-height: 1.5;
}

ol, ul {
  padding: 0;
}

ol li, ul li {
  margin-left: 1.125rem;
}

ol.noteList {
  list-style-type: lower-alpha;
  font-size: small;
}

ul.noStyle, ol.noStyle {
  list-style-type: none;
}

a {
  color: #0080ff;
  font-weight: 300;
  text-decoration: none;
}

a:visited {
  color: #0080ff;
}

em {
  color: #444;
  font-weight: 500;
  font-style: italic;
}

.img-center {
  display: inline-block;
  max-width: 100%;
}

.no-left-margin {
  margin-left: 0;
}

.errorDetails {
  color: red;
  font-weight: 300;
}

.add-shadow {
  -webkit-box-shadow: 4px 10px 41px 0px rgba(161, 161, 161, 0.75);
     -moz-box-shadow: 4px 10px 41px 0px rgba(161, 161, 161, 0.75);
          box-shadow: 4px 10px 41px 0px rgba(161, 161, 161, 0.75);
}

.prime-string {
  font-size: 2.5rem;
  font-weight: bold;
}

.bold-string {
  font-weight: bold;
}

.small-string, .back-to-top, .appInfo {
  font-size: small;
}

.back-to-top, .appInfo {
  text-align: center;
}

.back-to-top {
  margin: 2rem 0 2rem 0;
}

.back-to-top a {
  text-decoration: none;
}

.appInfo {
  margin: 4rem 0 2rem 0;
  color: #888;
}

.zenData {
  margin: 2rem 0 0 0;
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h1 {
    font-size: 4.0rem;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 1199px) {
  .small-string, .small-string a {
    font-size: 1.20rem;
  }
  .prime-string, .prime-string a {
    font-size: 1.75rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 991px) {
  .alert {
    padding: 1rem;
    margin: 1rem 1rem 1rem 1rem;
  }
}
