div.copyrightrow{
    background:#ffffff;
    clear:both;
    font-size:9px;
    padding:25px;
    text-align:center;
}
div.warrantyrow{
    background:#ffffff;
    clear:both;
    font-size:9px;
    text-align:center;
}
